{% load static %}

<footer class="footer v3">
        <div class="container container-content">
            <div class="f-content">
                <div class="f-col">
                    <p>© 2024 <a href="{% url 'store:home' %}">Обувной дом</a>. Обувь для любого случая.</p>
                </div>
                <div class="f-col">
                    <div class="social">
                        <a href=""><i class="fa fa-rss"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <a href=""><i class="fa fa-rss"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>