<div class="pushmenu menu-home5">
        <div class="menu-push">
            <span class="close-left js-close"><i class="ion-ios-close-empty f-40"></i></span>
            <div class="clearfix"></div>
            <form role="search" method="get" id="searchform" class="searchform" action="/search">
                <div>
                    <label class="screen-reader-text" for="q"></label>
                    <input type="text" placeholder="Search for products" value="" name="q" id="q" autocomplete="off">
                    <input type="hidden" name="type" value="product">
                    <button type="submit" id="searchsubmit"><i class="ion-ios-search-strong"></i></button>
                </div>
            </form>
            <ul class="nav-home5 js-menubar">
                <li class="level1 active dropdown">
                    <a href="#">Home</a>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </li>

            </ul>
            <ul class="mobile-account">
                <li><a href=""><i class="fa fa-unlock-alt"></i>Login</a></li>
                <li><a href=""><i class="fa fa-user-plus"></i>Register</a></li>
                <li><a href=""><i class="fa fa-heart"></i>Wishlist</a></li>
            </ul>
            <h4 class="mb-title">connect and follow</h4>
            <div class="mobile-social mg-bottom-30">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
    </div>