<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Zoa - Minimalist HTML Template</title>
    <link rel="shortcut icon" href="../../static/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="../../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../static/css/slick.css">
    <link rel="stylesheet" href="../../static/css/slick-theme.css">
    <link rel="stylesheet" href="../../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/styles.css">
</head>

<body>
    <div class="wrapper-comingson">
        <div class=" logo">
            <a href="#"><img src="../../static/img/logo.png" alt="" class="img-reponsive"></a>
        </div>

        <div class="content">
            <div class="title-header">
                <h1>Left <span id="f_timer">320</span> days</h1>
            </div>
            <p>We are working hard for the better experience</p>
        </div>


         <div class="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="newsletter-heading">
                            <h3>get in touch</h3>
                            <p>Subscribe for latest stories and promotions (35% sale)</p>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-12 flex-end">
                        <form class="form_newsletter" action="#" method="post">
                            <input type="email" value="" placeholder="Enter your emaill" name="EMAIL" id="mail" class="newsletter-input form-control">
                            <button id="subscribe" class="button_mini zoa-btn" type="submit">
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- EndContent -->

        <!-- Footer -->
        <footer class="bottom">
            <div class="container">
                <div class="social">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-pinterest-p"></i></a>
                     <a href=""><i class="fa fa-vk"></i></a>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

    </div>

        <script src="../../static/js/jquery.js"></script>
        <script src="../../static/js/bootstrap.min.js"></script>
        <script src="../../static/js/owl.carousel.min.js"></script>
        <script src="../../static/js/slick.min.js"></script>
        <script src="../../static/js/countdown.js"></script>
        <script src="../../static/js/main.js"></script>

</body>

</html>